<h1> Edit Your Kitten Info </h1>

<%= simple_form_for @kitten do |f| %>
	<%= f.input :name %>
	<%= f.input :age %>
	<%= f.input :cuteness %>
	<%= f.input :softness %>
	<br/>
	<%= f.submit 'Update' %>
<% end %>
